body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
      180deg,
      #ededf5 43.29%,
      rgba(246, 246, 210, 0.24) 66.44%
    ),
    linear-gradient(180deg, #fdf5e9 0%, #ededf5 100%);
}

code {
  font-family: Poppins, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 62.5%;

  /* 1440px */
  @media (max-width: 90em) {
    font-size: 56.25%;
  }

  /* 1248px */
  @media (max-width: 78em) {
    font-size: 50%;
  }

  /* 896px */
  @media (max-width: 56em) {
    font-size: 43.75%;
  }

  /* 688px */
  @media (max-width: 43em) {
    font-size: 37.5%;
  }

  /* 512px */
  @media (max-width: 32em) {
    font-size: 34%;
  }
}
